@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"> Welcome to my shop!</h1>
    <a href="/products">View Products</a>
    <a href="/categories">View Categories</a>

</div>
