@model Product

<h1>Products | <a href="/categories">Categories</a></h1>

<div>
    <h2>New Product</h2>
    <form class = "col-5" asp-action="AddProduct" asp-controller="Home" method="post">
        <div class="form-group">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control">
        </div>
        <div class="form-group">
            <label asp-for="Description"></label>
            <input asp-for="Description" class="form-control">
        </div>
        <div class="form-group">
            <label asp-for="Price"></label>
            <input asp-for="Price" class="form-control">
        </div>
        <input type="submit" value="Create" class="btn btn-primary">
    </form>
</div>
<div>
    <h2>Existing Products</h2>
    @foreach(var p in ViewBag.Products)
    {
        <p><a asp-action="DisplayProduct" asp-route-ProductId="@p.ProductId">@p.Name</a></p>
    }
</div>
